<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Detalhes Série</div>
    <!-- Table -->
    <div class="container">
        <form>
            <div class="container">
                <br />
                <div class="form-group row">
                    <label for="name" class="col-xs-2 col-form-label">Nome</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Nome da serie" [(ngModel)]="serie.name" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-xs-2 col-form-label">Descrição</label>
                    <div class="col-xs-9">
                        <textarea class="form-control" name="description" id="description" placeholder="Uma série sobre...." [(ngModel)]="serie.description"
                            rows="3" readonly></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="year" class="col-xs-2 col-form-label">Ano</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" name="year" id="year" placeholder="2011" [(ngModel)]="serie.year" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="rating" class="col-xs-2 col-form-label">Nota</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" name="rating" id="rating" placeholder="9.8" [(ngModel)]="serie.rating" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-offset-9 col-xs-2">
                        <button class="btn btn-primary" style="float:right" (click)="goBack()" type="submit">Voltar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>